<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nami - One Piece</title>
  <link rel="icon" href="/source/assets/images/mugiwara.jpg" sizes="16x16" type="image/x-icon">
  <link rel="stylesheet" href="/source/styles/style3.css">
</head>
<body>
  <header>
    <h1>NAMI</h1>
  </header>
  <main>
    <section class="intro">
      <img src="/source/assets/images/nami.png" alt="Nami" />
      <p id ="intro-text">
        Sanji, also known as "Black Leg," is the chef of the Straw Hat Pirates. His dream is to find the All Blue, a legendary sea where fish from all over the world meet. Sanji is renowned for his exceptional cooking skills and strong sense of chivalry.
      </p>
    </section>
    <audio id="nami-audio" autoplay loop>
      <source src="/source/assets/audio/nami.mp3" type="audio/mp3">
    </audio>
    <div class="side-buttons">
      <button class="icon-button" id="luffy">
        <img src="/source/assets/images/luffy.png" alt="Luffy" />
      </button>
      <button class="icon-button" id="zoro">
        <img src="/source/assets/images/zoro.png" alt="Zoro" />
      </button>
      <button class="icon-button" id="sanji">
        <img src="/source/assets/images/sanji.png" alt="Nami" />
      </button>
      <button class="icon-button" id="chopper">
        <img src="/source/assets/images/chopper.png" alt="Chopper" />
      </button>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Fan-made One Piece Website | For fans, by fan.</p>
  </footer>
  <script src="/source/scripts/script3.js"></script>
</body>
</html>
